@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-size: 1.3em;
    line-height: 140%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 2.7em;
    color: rgb(99, 83, 83);
}

h2{
    font-size: 2em;
    color: rgb(97, 132, 120);
    padding-bottom: 10px;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 60px;
}

.header{
    background-color: rgb(97, 132, 120);
}

.header__wrapper{
    padding: 20px 0;
    display: flex;
    justify-content: end;
}

.header__list{
    display: flex;
}

.header__item{
    padding: 7px;
}

.header__link{
    color: rgb(255, 255, 255);
}

.name{
    background-color: rgb(226, 225, 209);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: rgb(90, 123, 112) solid;
    border-top: none;
}

.name__img{
    width: 240px;
    border-radius: 50%;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(249, 248, 237);
    border: rgb(90, 123, 112) solid;
    border-top: none;
}

.footer{
    background-color: rgb(97, 132, 120);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
}

.footer__logo{
    width: 120px;
}